<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label class="form-label" for="email">Habilidades</label>
        <select multiple id="habilidades" name="habilidades">
          <% options.forEach(option => { %>
            <option value="<%= option %>"><%= option %></option>
          <% }); %>
        </select>
      </div>
</body>
</html>